<mat-accordion>
	<mat-expansion-panel *ngFor="let parking of this.parkingList | async">
		<mat-expansion-panel-header>
			<mat-panel-title>{{ parking.address }}</mat-panel-title>
			<mat-panel-description>{{ parking.spots.free }}/{{ parking.spots.total }}</mat-panel-description>
		</mat-expansion-panel-header>
		<agm-map [latitude]="parking.location.x" [longitude]="parking.location.y">
			<agm-marker [latitude]="parking.location.x" [longitude]="parking.location.y"></agm-marker>
		</agm-map>
		<mat-action-row *ngIf="storage.get('jwt') && router.url === '/'">
	    		<button mat-button color="accent" (click)="reserveNow(parking._id)">REZERVE NOW</button>
	    		<button mat-button color="accent" (click)="reserve(parking._id)">REZERVE</button>
	    		<button mat-button color="accent" (click)="schedule(parking._id)">SCHEDULE</button>
	      	</mat-action-row>
		<mat-action-row *ngIf="router.url === '/admin'">
	    		<button mat-button color="warn" (click)=block(parking._id)>BLOCK</button>
	    		<button mat-button color="warn" (click)="unblock(parking._id)">UNBLOCK</button>
	    		<button mat-button color="primary" (click)="update(parking)">UPDATE</button>
	    		<button mat-button color="warn" (click)="delete(parking._id)">DELETE</button>
	      	</mat-action-row>
	</mat-expansion-panel>
</mat-accordion>

