<h2 mat-dialog-title>Parking</h2>
<form [formGroup]="parkingForm">
<mat-dialog-content class="mat-typography">
	<mat-form-field>
		<input matInput placeholder="Address" formControlName="address">
	</mat-form-field>
	<mat-form-field>
		<input type="number" matInput placeholder="Number of Spots" formControlName="spots">
	</mat-form-field>
	<mat-form-field>
		<input type="number" matInput placeholder="Longitude" formControlName="long" step="0.000000000000000000001">
	</mat-form-field>
	<mat-form-field>
		<input type="number" matInput placeholder="Latitude" formControlName="lat" step="0.000000000000000000001">
	</mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
	<button color="primary" mat-raised-button cdkFocusInitial (click)="addParking()" [disabled]="!parkingForm.valid" >Save</button>
</mat-dialog-actions>
</form>
