<h2 mat-dialog-title>Register</h2>
<form [formGroup]="registerForm">
<mat-dialog-content class="mat-typography">
	<mat-form-field>
		<input type="email" matInput placeholder="Email" formControlName="email">
	</mat-form-field>
	<mat-form-field>
		<input type="password" matInput placeholder="Password" formControlName="password">
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="First Name" formControlName="firstName">
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Last Name" formControlName="lastName">
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Licence Plate" formControlName="licencePlate">
	</mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
	<button color="primary" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="!registerForm.valid" (click)="register()">Register</button>
</mat-dialog-actions>
</form>
