<h2 mat-dialog-title>Reservations</h2>
<mat-dialog-content class="mat-typography">
	<div 
	  *ngFor="let reservation of this.reservationsList | async">
		<mat-list-item role="listitem" > {{ reservation.spot.address }} in {{ reservation.start }}</mat-list-item><button mat-button (click)="unsubscribe(this.reservation._id)">Unsubscribe</button><mat-divider></mat-divider>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
